{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-12">
<h1>Actualizar sus datos de la cuenta</h1>

{% form_theme form 'bootstrap.html.twig' %}
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit form-horizontal' } }) }}
    {{ form_widget(form) }}
    <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<input type="submit" class="btn btn-primary" value="Actualizar" />
	</div>
</div>
{{ form_end(form) }}