<nav class="navbar navbar-inverse navbar-fixed-bottom foot">
	<div class="container">
	<ul class="nav navbar-nav navbar-left">
	<li><a class="link" href="{# path('ver_planes') #}">Términos y condiciones</a></li>
	<li><a href="{# path('ver_planes') #}">Ayuda</a></li>
	<li><a href="{# path('ver_planes') #}">Contacto</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	<li><img align="right" class="data-fiscal" src="{{ asset('public/img/afip.jpg') }}" alt="Data Fiscal" /></li>
	</ul>
	</div>
</nav> 